<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Название задачи</label>
    <input type="email" class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Описание задачи</label>
    <input type="password" class="form-control" id="description">
  </div>
  <button type="submit" class="btn btn-primary">Редактировать</button>
</form>
</body>
</html>